---
# required variables
cluster_name: 'some-cluster'
node_pool_name: 'default-node-pool'

# some optional variables
# see the full list of available variables role's defaults
cluster_description: 'staging cluster'
zone: 'us-central-1a'
labels:
  env: staging
  assignment: apps # or e.g. cd
num_nodes: 3
node_pool_autoscalling:
    enable: True
    max_nodes: 5
    min_nodes: 3
enable_autoupgrade: True
machine_type: g1-small
node_service_account: 'some-cluster-sa' # will be created if not exist
