---
# required variables
cluster_name: some-cluster
node_pool_name: default-node-pool
node_service_account: some-cluster-sa # will be created if not exist
num_nodes: 3
zone: us-central1-a
scopes:
  - https://www.googleapis.com/auth/cloud-platform

# some optional variables
# see the full list of available variables in role's defaults
cluster_description: staging cluster
labels:
  env: staging
  assignment: apps # or e.g. cd
node_pool_autoscalling:
    enable: True
    max_nodes: 5
    min_nodes: 3
enable_autoupgrade: True
machine_type: g1-small

